.topics{
    text-align: center;
}
.topics ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    border: 3px solid #000000;
    /* padding: 12px 34px; */
    font-size:13px ;
    background: transparent;
    position: relative;
    }

.topics ul li a{
    text-decoration: none;
    font-size: 24px;
    padding:34px;
    color: #000;
}

.topics ul li:hover{
    border: 3px solid #000;
    background: #ee8b8b;
    transition: .5s;
}

/* .topics ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 50px;
    position: relative;
    }

.topics ul li a{
    color: #000000;
    text-decoration: none;
} */