h1{
    text-align: center;
    padding: 25px 25px;
}


.table table{
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.table table, th, td{
    border: 2px solid;
    text-align: center;
   
}
